name: Provision Infrastructure

on: workflow_dispatch

jobs:
  terraform:
    name: "Terraform"
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v1
        with:
          cli_config_credentials_token: ${{ secrets.TERRAFORM_CLOUD_TOKEN }}

      - name: Terraform Init
        run: terraform init -input=false

      - name: Terraform Plan
        run: terraform plan -target=module.message_queue -target=module.networking -out=tfplan -input=false

      - name: Terraform Apply
        run: terraform apply -input=false -auto-approve tfplan
